 html, body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}
body {
    background: rgb(213,214,210);
    background: linear-gradient(0deg, rgba(213,214,210,1) 0%, rgba(213,214,210,1) 50%, rgba(229,230,226,1) 80%, rgba(245,246,242,1) 100%);
}

#outline {
    position: absolute;
    width: 100%;
    z-index: 2;
}

#render-target {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    opacity: 0;
    width   : 100%;
    height  : 100%;
    touch-action: none;
    transition: opacity 500ms;
    z-index: -1;
}

.no-highlights {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rendering #render-target {
    opacity: 1;
}

.playing #render-target {
    z-index: 1;
}

#container {
    background: rgba(255,255,255,0.5);
    padding: 1em;
    text-align: center;
    margin-top: 5em;
    /* transition: opacity 500ms linear; */
    transition: opacity 1s, transform 1s;
    opacity: 1;
}

.playing #container {
    transform: translateY(-500px);
    opacity: 0.0;
    z-index: -1;
}

button {
    transition: background-color 200ms linear;
}

input[type=text]:focus {
    border-color: #56970a;
}

button.button-primary {
    background-color: #76A72a;
    border-color: #76A72a;
}

button.button-primary:hover {
    background-color: #56970a;
    border-color: #56970a;
}

button[disabled] {
    cursor: default;

    background-color: #BBB !important;
    border-color: #BBB !important;
}

#outline {
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    padding: 2em;
    display: flex;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    padding: 0;
    margin: 0;
    z-index: -2;
    transition: opacity 500ms;
    color: white;
    overflow: hidden;
}

#outline.active {
    display: flex;
    background: rgba(0,0,0,0.7);
    opacity: 1.0;
    z-index: 2;
}

#outline > div {
    align-items: unset;
    display: flex;
    flex: 1;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 100%;
}

#outline img {
    height: 100%;
}

#outline > div > * {
    padding: 1em;
}

#outline > div > figure {
    height: 50%;
    flex-shrink: 0;
}


#outline h2 {
    font-size: 2.5rem;
}

#outline h3 {
    font-size: 2rem;
    margin-left: 2em;
}

#nprogress .bar {
    bottom: 0;
    top: unset;
}
#nprogress .peg {
    display: none;
}

/* Larger than tablet */
@media (min-width: 750px) {

    #outline h2 {
        font-size: 3.6rem;
    }

    #outline h3 {
        font-size: 3rem;
    }
    
    #outline > div {
        flex-wrap: nowrap;
    }

    #outline > div {
        padding: 3em;
    }    
}